<div class="banner">
  <div class="modal" data-controller="user-form-modal" data-user-form-modal-locale-value="<%= I18n.locale %>" data-action="mousedown->user-form-modal#hideForm">
    <div class="form">
      <i class="fa-solid fa-xmark close" data-action="mousedown->user-form-modal#hideForm"></i>
      <h2><%= t("devise.resend_confirmation") %></h2>

      <%= form_with model: resource, scope: resource_name, url: confirmation_path(resource_name), data: { turbo: false } do |f| %>
        <% if alert %>
          <p class="form-alert"><i class="fa-solid fa-triangle-exclamation"></i><%= alert %></p>
        <% end %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          <span class="error"><%= resource.errors.full_messages.find { |m| m.match?("Email") } %></span>
        </div>

        <%= f.submit t("devise.resend_confirmation"), class: "btn btn-green" %>
      <% end %>

      <%= button_to user_facebook_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "btn btn-auth" do %>
        <i class="fa-brands fa-square-facebook"></i> <%= t("devise.login_facebook") %>
      <% end %>

      <p class="redirect"><%= link_to t("devise.back_to_login"), new_user_session_path %></p>
    </div>
  </div>
</div>
