<div class="banner">
  <div class="modal" data-controller="user-form-modal" data-action="mousedown->user-form-modal#hideForm">
    <div class="form">
      <i class="fa-solid fa-xmark close" data-action="mousedown->user-form-modal#hideForm"></i>
      <h2><%= t("devise.change_password") %></h2>

      <%= form_with model: resource, scope: resource_name, url: password_path(resource_name), data: { turbo: false }, method: :put do |f| %>
        <% if alert %>
          <p class="form-alert"><i class="fa-solid fa-triangle-exclamation"></i><%= alert %></p>
        <% end %>

        <%= f.hidden_field :reset_password_token %>

        <div class="field">
          <%= f.label :password, t("devise.password") %>

          <div class="password" data-controller="toggle-hidden-password">
            <%= f.password_field :password, autocomplete: "current-password", data: { toggle_hidden_password_target: "input" } %>
            <i class="fa-solid fa-eye" data-action="click->toggle-hidden-password#togglePassword"></i>
          </div>

          <span class="error"><%= resource.errors.full_messages.find { |m| m.match?("Password") && !m.match?("confirmation") } %></span>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, t("devise.confirm_password") %>

          <div class="password" data-controller="toggle-hidden-password">
            <%= f.password_field :password_confirmation, autocomplete: "current-password", data: { toggle_hidden_password_target: "input" } %>
            <i class="fa-solid fa-eye" data-action="click->toggle-hidden-password#togglePassword"></i>
          </div>

          <span class="error"><%= resource.errors.full_messages.find { |m| m.match?("confirmation") } %></span>
        </div>

        <%= f.submit t("devise.change_password"), class: "btn btn-green" %>
      <% end %>

      <p class="redirect"><%= link_to t("devise.back_to_login"), new_user_session_path %></p>
    </div>
  </div>
</div>
