<div class="navbar">
  <div class="logo">
    <%= vite_image_tag "images/logos/logo_text_white.png" %>
  </div>

  <div class="links">
    <nav>
      <a href="#"><%= t("shared.navbar.about")%></a>
      <span>✾</span>
      <a href="#"><%= t("shared.navbar.sessions")%></a>
      <span>✾</span>
      <a href="https://www.facebook.com/yoga.unalome.lln" target="_blank"><%= t("shared.navbar.facebook")%></a>

      <!--
      <span>✾</span>
      <% if current_user %>
        <%= link_to "Account", dashboard_path %>
      <% else %>
        <%= link_to "Log in", new_user_session_path %>
      <% end %>
      -->
    </nav>
  </div>
</div>
