<div class="content">
  <span class="close">&times;</span>
  <%= form_for @contact do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :message %>
    <%= f.text_area :message %>

    <%= f.submit "Send Message" %>
  <% end %>
</div>
