<section id="about">
  <div class="about">
    <%= vite_image_tag "images/photos/chloe-1.jpg", class: "brighter" %>

    <div class="content">
      <%= vite_image_tag "images/illustrations/about_fern.png", class: "fern" %>
      <h2><%= t("pages.home.about.me.about_me") %></h2>

      <p><%= t("pages.home.about.me.welcome") %><br><%= t("pages.home.about.me.introduction") %></p>
      <p><%= t("pages.home.about.me.formations") %></p>
      <p><%= t("pages.home.about.me.conclusion") %></p>
      <p><%= t("pages.home.about.me.aum_shanti") %><br><%= t("pages.home.about.me.peace") %></p>
    </div>
  </div>

  <div class="about">
    <div class="content">
      <%= vite_image_tag "images/illustrations/about_fern.png", class: "fern" %>
      <h2><%= t("pages.home.about.vinyasa.about_vinyasa") %></h2>

      <div>
        <p><%= t("pages.home.about.vinyasa.vinyasa_introduction") %></p>
        <p><%= t("pages.home.about.vinyasa.vinyasa_description") %></p>
      </div>

      <div>
        <h3><%= t("pages.home.about.vinyasa.why") %></h3>
        <p><%= t("pages.home.about.vinyasa.yoga_description") %></p>
        <p><%= t("pages.home.about.vinyasa.conclusion") %></p>
      </div>
    </div>

    <%= vite_image_tag "images/photos/chloe-3.jpg" %>
  </div>
</section>
