<div class="banner">
  <div class="modal" data-controller="user-form-modal" data-action="mousedown->user-form-modal#hideForm">
    <div class="form">
      <i class="fa-solid fa-xmark close" data-action="mousedown->user-form-modal#hideForm"></i>
      <h2><%= "#{t("devise.are_you")} #{@user.full_name} ?" %></h2>

      <p><%= t("devise.confirm_identity") %></p>

      <%= form_with model: resource, scope: resource_name, url: session_path(resource_name), method: :post, data: { turbo: false } do |f| %>
        <%= f.hidden_field :uid, value: uid %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, t("devise.password") %>

          <div class="password" data-controller="toggle-hidden-password">
            <%= f.password_field :password, autocomplete: "current-password", data: { toggle_hidden_password_target: "input" } %>
            <i class="fa-solid fa-eye" data-action="click->toggle-hidden-password#togglePassword"></i>
          </div>
        </div>

        <%= f.submit t("shared.navbar.login"), class: "btn btn-green" %>
      <% end %>

      <p class="redirect"><%= t("devise.not_you") %> <%= link_to t("devise.back_to_homepage"), root_path %></p>
    </div>
  </div>
</div>
