<div class="banner">
  <div class="modal" data-controller="user-form-modal" data-action="mousedown->user-form-modal#hideForm">
    <div class="form">
      <i class="fa-solid fa-xmark close" data-action="mousedown->user-form-modal#hideForm"></i>
      <h2><%= t("devise.welcome_back") %></h2>

      <%= form_with model: resource, scope: resource_name, url: session_path(resource_name), data: { turbo: false } do |f| %>
        <% if alert %>
          <p class="form-alert"><i class="fa-solid fa-triangle-exclamation"></i><%= alert %></p>
        <% end %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, t("devise.password") %>

          <div class="password" data-controller="toggle-hidden-password">
            <%= f.password_field :password, autocomplete: "current-password", data: { toggle_hidden_password_target: "input" } %>
            <i class="fa-solid fa-eye" data-action="click->toggle-hidden-password#togglePassword"></i>
          </div>
        </div>

        <div class="check">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, t("devise.remember_me") %>
        </div>

        <%= f.submit t("shared.navbar.login"), class: "btn btn-green" %>
      <% end %>

      <%= button_to user_facebook_omniauth_authorize_path, method: :post, data: { turbo: false }, class: "btn btn-auth" do %>
        <i class="fa-brands fa-square-facebook"></i> <%= t("devise.login_facebook") %>
      <% end %>

      <% if alert&.match?("confirm") %>
        <p class="redirect"><%= link_to t("devise.resend_confirmation"), new_confirmation_path(resource_name) %></p>
      <% else %>
        <p class="redirect"><%= link_to t("devise.forgot_password"), new_password_path(resource_name) %></p>
      <% end %>

      <p class="redirect"><%= t("devise.no_account") %> <%= link_to t("devise.signup"), new_user_registration_path %></p>
    </div>
  </div>
</div>
