<p><%= "#{t("devise.mailer.reset_password.hello")} #{@resource.first_name} !" %></p>

<p><%= t("devise.mailer.reset_password.request_to_reset") %></p>

<p><%= t("devise.mailer.reset_password.did_not_request") %><br>
<%= t("devise.mailer.reset_password.wont_change") %></p>

<%= link_to t("devise.change_password"), edit_password_url(@resource, reset_password_token: @token), class: "btn-green" %>
